.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

header {
  width: 100%;
  position: fixed;
  z-index: 2;
}

main {
  min-height: calc(100vh - 64px - 45px);
  flex: 1 0 auto;
  margin-top: 4rem;
  padding: 0 46px;
  padding-top: 36px;
  padding-bottom: 1rem;
  max-width: 1440px;
}

footer {
  flex-shrink: 0;
}
