.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 50px;
  padding-bottom: 1rem;
}

.footer__logo {
  width: 4rem;
}

.footer__logo-github {
  width: 2rem;
}

.footer a {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}
